In [0]:
#!pip install GetOldTweets3

Collecting GetOldTweets3
  Downloading https://files.pythonhosted.org/packages/ed/f4/a00c2a7c90801abc875325bb5416ce9090ac86d06a00cc887131bd73ba45/GetOldTweets3-0.0.11-py3-none-any.whl
Collecting pyquery>=1.2.10
  Downloading https://files.pythonhosted.org/packages/78/43/95d42e386c61cb639d1a0b94f0c0b9f0b7d6b981ad3c043a836c8b5bc68b/pyquery-1.4.1-py2.py3-none-any.whl
Requirement already satisfied: lxml>=3.5.0 in /usr/local/lib/python3.6/dist-packages (from GetOldTweets3) (4.2.6)
Collecting cssselect>0.7.9
  Downloading https://files.pythonhosted.org/packages/3b/d4/3b5c17f00cce85b9a1e6f91096e1cc8e8ede2e1be8e96b87ce1ed09e92c5/cssselect-1.1.0-py2.py3-none-any.whl
Installing collected packages: cssselect, pyquery, GetOldTweets3
Successfully installed GetOldTweets3-0.0.11 cssselect-1.1.0 pyquery-1.4.1

In [0]:
import GetOldTweets3 as got
import pandas as pd

## Iterate to get 1000 top tweets for each day
If you want to get all the tweets in a time period and set a big number for maxtweets for the period, it will just give you the tweets on one or two days in that period. Because there are too many tweets every day.

In [0]:
days = ["%.2d" % i for i in range(1,31)]

In [61]:
Twitter=[]

for i in range(28,29):
  tweetCriteria = got.manager.TweetCriteria().setQuerySearch('COVID')\
                                            .setSince("2020-04-"+days[i])\
                                            .setUntil("2020-04-"+days[i+1])\
                                            .setMaxTweets(1000)\
                                            .setTopTweets(True)
                                            #.setNear("CA")
                                            #.setWithin("100mi")

  tweets = got.manager.TweetManager.getTweets(tweetCriteria)
  tweet = [t for t in tweets]
  print(len(tweet))
  Twitter.append(tweet)
  print("Finished:", len(Twitter))

1000
Finished: 1
1000
Finished: 2
1000
Finished: 3
1000
Finished: 4
1000
Finished: 5
1000
Finished: 6
1000
Finished: 7
1000
Finished: 8
1000
Finished: 9
1000
Finished: 10
1000
Finished: 11
1000
Finished: 12
1000
Finished: 13
1000
Finished: 14

In [62]:
len(Twitter)

14

In [0]:
text = []
created_at = []
tweet_id = []
user = []
retweets = []
favorites = []
hashtags = []
location = []

for tweets in Twitter:
  for post in tweets:
    text.append(post.text)
    created_at.append(post.date)
    tweet_id.append(post.id)
    user.append(post.username)
    retweets.append(post.retweets)
    favorites.append(post.favorites)
    hashtags.append(post.hashtags)
    location.append(post.geo)

In [64]:
d = {'tweet_id': tweet_id, 'user': user, 'text': text, 'retweets': retweets, 
     'favorites': favorites, 'created_at': created_at, 'location':location, 'hashtags':hashtags}

df_tweets = pd.concat([pd.Series(v, name=k) for k, v in d.items()], axis=1)

df_tweets.head()

              tweet_id         user  ... location                           hashtags
0  1250574612309651464  KaitMarieox  ...
1  1250574570496589834    the50gram  ...
2  1250574507410173952  NickKristof  ...
3  1250574456235470850          CBR  ...
4  1250574403177312256   kcmetrobus  ...           #SoundTheHorn #HeroesMovingHeroes

[5 rows x 8 columns]

In [65]:
df_tweets.sort_values(['created_at'])

                  tweet_id            user  ... location  hashtags
999    1250539410594181122       ItsRonaye  ...
998    1250539436355584002    jburnmurdoch  ...
997    1250539468072812553     RosieBarton  ...
996    1250539502990491649    jburnmurdoch  ...
995    1250539524599488517      AfamDeluxo  ...
...                    ...             ...  ...      ...       ...
13003  1255285578666573824     EconCharlie  ...
13001  1255285615756816388         dirquez  ...             #orpol
13021  1255285644324208647        rnz_news  ...
13020  1255285646601654274  MacArthurStuCo  ...
13000  1255285654587682817       NNPrezNez  ...

[14000 rows x 8 columns]

In [0]:
df_tweets.to_csv('COVID.csv')